section
    h2 Pushing to production
    p Changes almost project to project.
    ul
        li Uploading manually to S3
        li Uploading manually to FTP
        li 
            code git pull
            |  on server
        li 
            code git aws.push
            | , 
            code git push heroku master
            | , etc.