section
    h2 What's the problem
    p There is overhead per project for accomplishing similar tasks
        ul
            li Building
            li Pushing new versions to production
            li Development tasks