section
    h2 SCSS and Stylus
    p For a long time we used SCSS with compass
    pre: code.bash(data-trim).
        cd sass
        compass watch
    p and recently swapped to Stylus.
    pre: code.bash(data-trim).
        stylus -w -o . src/styl/main.styl
