section
    p Example tasks are:
    ul
        li compile stylus
        li compile coffeescript
        li compile jade
        li compress images
        li clean up files
        li watching files
        li uploading to s3
        li set environment variables
        li testing
        li minify javascript
        li prompt user for input and write to a config file
        li ... anything!