section
    h2 Installing
    p
        a(href='http://gruntjs.com') http://gruntjs.com
        |  has an excellent guide on the specifics of how to install.
    p The long and short of it is:

    pre: code.bash(data-trim).
        npm install -g grunt-cli
        cd some/project/with/Gruntfile.js/and/package.json/
        # Gruntfile.coffee also works
        # Make sure grunt (not grunt-cli) is in your package dev dependencies
        npm install
        grunt -h
