section
    h2 What is Grunt?

    p Self-described 
        em task runner
        | .
    p Command line tool
    p You define tasks that you want to automate.
    p Use the command line tool to perform those tasks.

    pre: code.bash(data-trim).
        grunt watch
        grunt compass:dev
        grunt browserify:dev
        grunt dev
        grunt test